#poster
  %img{src: @movie.poster_url.to_s}

#movie
  #info
    #title
      %h1= @movie.title
    #description
      %p= @movie.description
    #trailer
      %i.icon-youtube-play
      =link_to "Watch the trailer on YouTube", @movie.trailer_url, {target: "blank"}

  #showtimes
    %h2.centered Showtimes

    %table
      %thead
        %th Location
        %th Time
      %tbody
        %tr
          %td Paramount Theater
          %td 10/5/13 2:00pm
        %tr
          %td Tinseltown
          %td 10/5/13 4:00pm
        %tr
          %td Regal
          %td 10/5/13 7:00pm

    %form{action: "/movies/#{@movie.id}/showtimes", method: "post"}
      .location
        %label Location
        %input{type: "text"}
      
      .time
        %label Time
        %input{type: "text"}
      
      .submit
        %input.button{name: "commit", type: "submit", value: "Create Showtime"}