#headshot
  %img{src: @star.headshot_url}

#star
  #info
    #name
      %h1= @star.name
    #bio
      %p= @star.bio
    #movies
      - if @star.movies
        %h2.centered Movies
        %ul
          - @star.movies.each do |m|
            %li
              =link_to m do
                =image_tag(m.poster_url)
                ="#{m.title}"
        %br
        %br